<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>

</head>
<body>


<p> this is a home page for <a href="http://railstutoria.org/"> railstutorial </a> gfdgdfggdgd</p>
<h1><%=@title%></h1>

</body>
</html>